@namespace frontend.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="~/Web/Assets/favicon.ico">
    <link rel="stylesheet" href="~/Web/Assets/css/Layout/Layout.css">
    <link rel="stylesheet" href="~/Web/Assets/css/Layout/Navbar.css">
    <link rel="stylesheet" href="~/Web/Assets/font/Font.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    @await RenderSectionAsync("AdditionalHead", false)
</head>

<body class="no-style global-background">

<div class="navigation-bar">
    
</div>

@RenderBody()

</body>
</html>