@namespace frontend.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="~/Web/Assets/favicon.ico">
    <link rel="stylesheet" href="~/Web/Assets/css/Layout/Layout.css">
    <link rel="stylesheet" href="~/Web/Assets/css/Layout/Navbar.css">
    <link rel="stylesheet" href="~/Web/Assets/font/Font.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    @await RenderSectionAsync("AdditionalHead", false)
</head>

<body class="no-style global-background">

<div class="navigation-bar">
    <div class="navigation-bar-left">
        <div class="navigation-bar-item">
            <a href="/">
                HOME
            </a>
        </div>
    </div>

    <div class="navigation-bar-search">
        <form class="navigation-form-search">
            <input type="text" placeholder="Search anything..."/>
        </form>
    </div>

    <div class="navigation-bar-right">
        <div class="navigation-bar-item navigation-item-button">
            <a href="/signup/">
                SIGNUP
            </a>
        </div>

        <div class="navigation-bar-item navigation-item-button">
            <a href="/login/">
                LOGIN
            </a>
        </div>
    </div>
</div>

@RenderBody()

</body>
</html>