@using frontend.Api.Models
@using frontend.Api.Models.User
@using frontend.Utils
@namespace frontend.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;

    var userTask = CookieUtils.IsCookieUserValid(Program.ApiUtils, Context.Request, Context.Response);
    var userConfig = Program.ApiUtils.GetModelAsync<ModelConfig>(Program.ConfigManager.Config.BackendApiUri + "/services/config");
    
    ModelUserInfo? userInfo = await userTask;
    ModelConfig? config = await userConfig;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="~/Web/Assets/favicon.ico">
    <link rel="preload stylesheet" href="~/Web/Assets/css/Layout/Layout.css" as="style" type="text/css">
    <link rel="preload stylesheet" href="~/Web/Assets/css/Layout/Navbar.css" as="style" type="text/css">
    <link rel="preload stylesheet" href="~/Web/Assets/font/Font.css" as="style" type="text/css">
    
    <link rel="preload stylesheet" href="~/Web/Assets/css/color.css" as="style" type="text/css">
    <link rel="preload stylesheet" href="~/Web/Assets/css/other.css" as="style" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    @await RenderSectionAsync("AdditionalHead", false)
</head>

<body class="no-style global-background">

<div class="navigation-bar">
    <div class="navigation-bar-left">
        <div class="navigation-bar-item">
            <a href="/">
                HOME
            </a>
        </div>
        <div class="navigation-bar-item">
            <a href="/posts">
                POSTS
            </a>
        </div>
        @{
            if (userInfo != null)
            {
                <div class="navigation-bar-item">
                    <a href="/upload">
                        UPLOAD
                    </a>
                </div>
            }
        }
    </div>

    <div class="navigation-bar-search">
        <form class="navigation-form-search">
            <input type="text" placeholder="Search..."/>
        </form>
    </div>

    <div class="navigation-bar-right">
        @{
            if (userInfo == null)
            {
                <div class="navigation-bar-item navigation-item-button">
                    <a href="/signup/">
                        SIGNUP
                    </a>
                </div>

                <div class="navigation-bar-item navigation-item-button">
                    <a href="/login/">
                        LOGIN
                    </a>
                </div>
            }
            else
            {
                if (config is {registration_use_invite_keys: true })
                {
                    <div class="navigation-bar-item navigation-item-button">
                        <a href="/invite/">
                            INVITE
                        </a>
                    </div>
                }
                
                if (userInfo.admin)
                {
                    <div class="navigation-bar-item navigation-item-button">
                        <a href="/admin/">
                            ADMIN
                        </a>
                    </div>
                }

                <div class="navigation-bar-item navigation-item-button">
                    <a href="/account/">
                        @userInfo.username.ToUpper()
                    </a>
                </div>
            }
        }
    </div>
</div>

<div class="render-body">
    @RenderBody()
</div>

</body>
</html>