@using frontend.Api.Models.User
@using frontend.Utils
@namespace frontend.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;

    ModelUserInfo? userInfo = null;
    if (CookieUtils.IsCookieReal(Context.Request, Context.Response))
    {
        var userCredentials = new ModelUserKey
        {
            key = Context.Request.Cookies[CookieUtils.CookieName]
        };

        userInfo = await Program.ApiUtils.PostAndReceiveModel<ModelUserKey, ModelUserInfo>(
            Program.ConfigManager.Config.BackendApiUri + "/user/info", userCredentials);
    }
}

<!DOCTYPE html>

<html lang="en" class="expand-height">

<head>
    <link rel="icon" type="image/x-icon" href="~/Web/Assets/favicon.ico">
    <link rel="stylesheet" href="~/Web/Assets/css/Layout/Layout.css">
    <link rel="stylesheet" href="~/Web/Assets/css/Layout/Navbar.css">
    <link rel="stylesheet" href="~/Web/Assets/font/Font.css">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    @await RenderSectionAsync("AdditionalHead", false)
</head>

<body class="no-style global-background expand-height">

<div class="navigation-bar">
    <div class="navigation-bar-left">
        <div class="navigation-bar-item">
            <a href="/">
                HOME
            </a>
        </div>
        <div class="navigation-bar-item">
            <a href="/uploads">
                UPLOADS
            </a>
        </div>
    </div>

    <div class="navigation-bar-search">
        <form class="navigation-form-search">
            <input type="text" placeholder="Search..."/>
        </form>
    </div>

    <div class="navigation-bar-right">
        @{
            if (userInfo == null)
            {
                <div class="navigation-bar-item navigation-item-button">
                    <a href="/signup/">
                        SIGNUP
                    </a>
                </div>

                <div class="navigation-bar-item navigation-item-button">
                    <a href="/login/">
                        LOGIN
                    </a>
                </div>
            }
            else
            {
                if (userInfo.admin)
                {
                    <div class="navigation-bar-item navigation-item-button">
                        <a href="/admin/">
                            ADMIN
                        </a>
                    </div>
                }

                <div class="navigation-bar-item navigation-item-button">
                    <a href="/account/">
                        @userInfo.username.ToUpper()
                    </a>
                </div>
            }
        }
    </div>
</div>

<div class="render-body">
    @RenderBody()
</div>

</body>
</html>