@page
@model frontend.Web.Pages.Admin

@{
    Layout = "_Layout.cshtml";
}

@section AdditionalHead
{
    <title>Admin - USERNAME</title>
    @* <link rel="stylesheet" href="~/Web/Assets/css/Index/Index.css"> *@
    @* <link rel="stylesheet" href="~/Web/Assets/css/Index/Stats.css"> *@
    @* <link rel="stylesheet" href="~/Web/Assets/css/Index/Content.css"> *@
}

<!DOCTYPE html>

<html>
<body>
    @* TODO *@
</body>
</html>