@page
@using frontend
@using frontend.Api
@using frontend.Api.Models
@model frontend.Web.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    Test
    @{
        ModelMediaStats? x = await ApiUtils.GetModelAsync<ModelMediaStats>(Program.ConfigManager.Config.BackendApiUri + "/stats/media/");
        if (x != null)
        {
            Console.WriteLine($"Values: {x.media_count} {x.media_storage_usage}");
        }
        else
        {
            Console.WriteLine("Failed");
        }
    }
</div>
</body>
</html>