@page "/post/{id}/"
@model frontend.Web.Pages.Post

@{
    Layout = "_Layout.cshtml";
}

@section AdditionalHead
{
    <title>Post - @RouteData.Values["id"]</title>
    @* <link rel="stylesheet" href="~/Web/Assets/css/Index/Index.css"> *@
    @* <link rel="stylesheet" href="~/Web/Assets/css/Index/Stats.css"> *@
    @* <link rel="stylesheet" href="~/Web/Assets/css/Index/Content.css"> *@
}

<!DOCTYPE html>

<html>
<body>
    @* Todo *@
</body>
</html>