@import url("../color.css");

.announcement-container {
    display: flex;
    flex-direction: column;
    
    padding: 8px;
    border-radius: 8px;
    background-color: var(--dark-foreground);
}

.announcement-container:first-of-type {
    margin-top: 8px;
}

@media screen and (max-width: 840px) {
    .announcement-container {
        margin: 0 8px 0 8px;
    }
}

.announcement-header {
    text-align: center;
}

.announcement-list {
    display: flex;
    flex-direction: column;
    
    gap: 8px;
}

.announcement-list > div {
    text-align: center;
    
    font-size: 20px;
    font-family: "OpenSans", sans-serif;
    color: var(--primary-text-color);
}

.announcement-list > div > a {
    color: var(--primary-link-color);
}