@import url("../color.css");

.content-container {
    padding: 8px;
    border-radius: 8px;
    background-color: var(--dark-foreground);

    overflow-y: visible;
    overflow-x: hidden;

    scrollbar-width: none;
}

.content-container::-webkit-scrollbar {
    display: none;
}

.content-header {
    font-size: 16px;
    font-family: "OpenSans", sans-serif;

    color: var(--primary-text-color);
    
    margin-bottom: 8px;
}

.content-no-available {
    font-size: 20px;
    font-family: "OpenSans Italic", sans-serif;
    
    color: var(--primary-text-color);
    margin: 8px 0 16px 0;
}

.content-flex-list {
    justify-content: center;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    gap: 8px;

    scrollbar-width: none;
    overflow-y: hidden;
}

.content-flex-list::-webkit-scrollbar {
    display: none;
}

.content-item {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 30%;
    
    min-width: 240px;
    max-width: 300px;
    
    text-decoration: none;
}

.content-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 8px;
}

.content-tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 8px;
}

.content-tag {
    width: auto;
    height: 24px;
    
    padding: 0 4px 0 4px;
    
    background-color: var(--primary-light-blue);
    border-radius: 4px;

    display: flex;
    
    align-items: center;
    
    font-size: 12px;
    font-family: "OpenSans", sans-serif;

    color: var(--primary-text-color);
}

.content-item-text {
    font-size: 12px;
    font-family: "OpenSans", sans-serif;

    color: var(--primary-text-color);
}

@media screen and (max-width: 840px) {
    .content-container {
        flex-direction: column;
        margin: 0 8px 8px 8px;
    }
}