@import url("../other.css");

.no-style {
    margin: 0;
    padding: 0;
}

.global-background {
    background-color: var(--dark-background);
}

.render-body {
    height: calc(100% - var(--navbar-height));
}