@import url("../color.css");

.navigation-bar {
    height: 48px;
    width: 100%;
    
    background-color: var(--dark-foreground);

    display: flex;
    align-items: center;
}

.navigation-bar-left {
    width: 100%;
    margin-left: 16px;
}

.navigation-bar-right {
    margin-right: 16px;
}

.navigation-bar-item {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.navigation-bar-item > a {
    text-decoration: none;
    color: white;
}

/*.navigation-item-text {*/
/*    display: inline-block;*/
/*    */
/*    list-style-type: none;*/

/*    font-family: 'Lato', sans-serif;*/
/*    font-size: 16px;*/
/*}*/

/*.navigation-item-text a {*/
/*    text-decoration: none;*/
/*    color: white;*/
/*}*/

/*.navigation-item:first-of-type {*/
/*    !*margin-right: auto;*!*/
/*    !*margin-left: 8px;*!*/
/*}*/

/*!*.navigation-searchbar*!*/