.account-container {
    display: flex;
    flex-direction: column;
    
    gap: 8px;
}

.account-item {
    margin: 0 8px 0 8px;
}

.account-item:first-of-type {
    margin: 8px 8px 0 8px;
}

.account-header {
    color: white;

    font-family: 'OpenSans', sans-serif;
    font-size: 20px;
    
    margin-left: 4px;
}

.account-buttons {
    margin-top: 12px;

    display: grid;
    grid-auto-rows: auto auto auto auto;
    grid-template-columns: repeat(auto-fill, 224px);
    grid-gap: 8px;
}

.account-button {
    background-color: var(--dark-background);
    
    width: 224px;
    height: 32px;
    
    border-radius: 4px;
    
    outline: none;
    text-decoration: none;
    
    color: white;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;

    border: none;
    border-bottom: 1px solid transparent;
}

.account-button:hover {
    border-bottom: 1px white solid;
    transition: border-bottom-color .5s;
}

.account-button-dangerous {
    border: 1px var(--primary-error-color) solid;
}