.information-container {
    display: flex;
    flex-direction: row;
    
    gap: 8px;
}

.information-item {
    height: 256px;
    width: 100%;
    
    flex-basis: 50%;

    background-color: var(--dark-foreground);
    border-radius: 8px;
    
    padding: 8px;
    
    display: flex;
    flex-direction: column;
}