:root {
    --dark-background: rgb(12, 12, 12);
    --dark-foreground: rgb(22, 22, 22);
    
    --primary-blue: rgb(0, 111, 137);
    --primary-light-blue: rgb(0, 143, 179);
    
    --primary-text-color: white;
    --secondary-text-color: rgb(224, 224, 224);
    
    --primary-link-color: rgb(22, 197, 255);
    
    --primary-error-color: rgb(244, 24, 24);
}