@import url("../../color.css");

html, body {
    height: 100%;
}

.credentials-container {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .credentials-container {
        align-items: normal;
        height: auto;
    }
}

.credentials-form-container {
    width: 100%;
    max-width: 420px;

    height: 420px;

    border-radius: 8px;
    border: 2px var(--dark-foreground) solid;
    padding: 16px;

    margin: 16px;

    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 500px) {
    .credentials-form-container {
        border: none;

        height: max-content;
        margin: 0;
        padding: 0 16px 0 16px;
    }

    html,
    body,
    .credentials-container,
    .credentials-form-container{
        height: 100%;
    }

    .credentials-form-container > button {
        margin-bottom: 16px;
    }
}


.credentials-container-text {
    font-family: 'Lato', sans-serif;
    font-size: 32px;

    text-align: center;
    margin: 24px 0 24px 0;

    color: var(--secondary-text-color);
}

.credentials-form-text-container {
    display: flex;
    flex-direction: column;

    gap: 16px;
}

.credentials-form-input {
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.credentials-form-input > label {
    margin: 0;
    padding: 0;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: var(--secondary-text-color);
}

.credentials-form-input > input {
    padding: 4px 0 4px 0;
    margin-bottom: 8px;

    border: none;
    border-radius: 0;

    border-bottom: 1px solid white;

    text-decoration: none;
    outline: none;

    font-size: 16px;
    font-family: 'Lato Light', sans-serif;

    color: var(--primary-text-color);
    background-color: var(--dark-background);
}

.credentials-form-opposite {
    margin: 24px 0 12px 0;

    display: block;
    width: 100%;

    text-align: center;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: var(--primary-text-color);
}

.credentials-form-credentials > a {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: var(--primary-text-color);
}

.credentials-form-container > button {
    padding: 4px;
    width: 100%;

    border: none;
    border-radius: 12px;

    font-size: 16px;
    font-family: sans-serif;

    color: var(--primary-text-color);
    background-color: var(--primary-light-blue);
}

.credentials-form-error {
    margin-bottom: auto;
    display: block;
    width: 100%;

    text-align: center;
    font-size: 16px;
    font-family: 'Lato', sans-serif;

    color: var(--primary-error-color);
}