#no-posts-available {
    color: var(--primary-text-color);

    font-family: 'OpenSans', sans-serif;
    font-size: 16px;

    align-self: center;
    
    margin-left: 4px;
}

#no-posts-available > p {
    padding: 0;
    margin: 0;
}

#no-posts-available > p > a {
    color: var(--primary-link-color);
}